@{
    ViewBag.Title = "About Us";
}
<h2>About Our Group</h2>
<h3>We are from Programming Web Class B & C</h3>
<h3>Members:</h3>
<h4>Abdul Rozak Baharudin - 05111840000148</h4>
<h4>Anfasa Aliffian - 05111840000160</h4>
<h4>Kinasihurrabb Moraluhung - 05111840000161</h4>

<p>Use this area to provide additional information.</p>
