@{
    ViewBag.Title = "Our Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Abdul Rozak Baharudin<br />
    Sidoarjo, Waru<br />
    <abbr title="Phone">P:</abbr>
    +6281332180299
</address>

<address>
    <strong>Our Emails:</strong>
    <strong>Abdul Rozak:</strong>   <a href="mailto:rozakcloud@gmail.com">rozakcloud@gmail.com</a><br />
</address>