@{
    ViewBag.Title = "Our Contact";
}

<div class="content container padding-64" id="about">
    <div>
        <div class="text-center">
            <h2>Contact us!</h2>
        </div>

        <div class="row">
            <div class="column">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front text-center padding-50">
                            <h2>Abdul Rozak Baharudin</h2>
                        </div>
                        <div class="flip-box-back padding-50">
                            Abdul Rozak Baharudin<br />
                            Sidoarjo, Waru<br />
                            Phone Number : +6281332180299<br />
                            Email : rozakcloud@gmail.com<br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">

                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front text-center padding-50">
                            <h2>Anfasa Aliffian</h2>
                        </div>
                        <div class="flip-box-back padding-50">
                            Anfasa Aliffian<br />
                            Bogor, Jawa Barat<br />
                            Phone Number: +6281932868250<br />
                            Email : anfasa48@gmail.com<br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">

                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front text-center padding-50">
                            <h2>Kinasihurrabb Moralluhung</h2>
                        </div>
                        <div class="flip-box-back padding-50">
                            Kinasihurrabb Moralluhung<br />
                            Malang, Jawa Timur<br />
                            Phone Number: +6281298130041<br />
                            Email : Kinasngeow@gmail.com<br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>