@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="text-center">
        <h1>Anjay Janboo</h1>
    </div>
    <div>
        <center>
            <img src="~/images/janboo.png" width="400" height="370" alt="First slide">
        </center>
    </div>
    
</div>

<div class="content container padding-64" id="about">
    <div class="text-center">
        <h2>CHECK OUT OUR CARS!</h2>
        <div class="row">
            <div class="column2">
                <div class="card">
                    <img src="~/images/lancer_evo_x.jpg" width="450" height="320" alt="First slide">
                    <div class="containerz">
                        <center>
                            <h4><b>Lancer Evolution X</b></h4>
                        </center>
                        <p>brum brum</p>
                    </div>
                </div>
            </div>
            <div class="column2">
                <div class="card">
                    <img src="~/images/Ferrari.jpg" width="450" height="320" alt="First slide">
                    <div class="containerz">
                        <center>
                            <h4><b>Ferrari California T</b></h4>
                        </center>
                        <p>brum brum</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="content container padding-64" id="about">
            <div>
                <h2>Check out our other cars by clicking button below</h2>
                <div class="paddingbut">
                    <p><a class="btn btn-default" href="/Cars/Index">Car Lists &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>