@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Janboo Car Showroom</h1>
    <p class="lead">Janboo Car Showroom is located in West Surabaya.</p>
    <img src="~/images/lancer_evo_x.png" alt="First slide">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            There's so used many car that stored in our showroom, if you want to check our car list, click the button bellow.
        </p>
        <p><a class="btn btn-default" href="/Cars/Index">Car List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>