@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="containerx">
        <img src="~/images/jon-koop-khYVyHiNZo0-unsplash.jpg" width="1520" height="900" alt="First slide">
        <div class="top-left">
        <h1>
            JANBOO MOTORSPORT
            </h1>
        <input type="button" class="buttonx button2s" value="Check Our Cars" onclick="location.href='@Url.Action("index", "Cars")'" />
        </div>
    </div>
    
</div>

<div class="content container padding-64" id="about">
    <div class="text-center">
        <div class="padding-16">
            <h2>Check out our most wanted cars!</h2>
        </div>
        <div class="row">
            <div class="column2">
                <div class="card">
                    <img src="~/images/lancer_evo_x.jpg" width="450" height="320" alt="First slide">
                    <div class="containerz">
                        <center>
                            <h4><b>Lancer Evolution X</b></h4>
                        </center>
                        <p>An elegant black lancer that makes you look cool</p>
                    </div>
                </div>
            </div>
            <div class="column2">
                <div class="card">
                    <img src="~/images/Ferrari.jpg" width="450" height="320" alt="First slide">
                    <div class="containerz">
                        <center>
                            <h4><b>Ferrari California T</b></h4>
                        </center>
                        <p>Bright red Ferrari in a Very good condition</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>