@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Janboo Car Showroom</h1>
    <p class="lead">Janboo Car Showroom is located in West Surabaya.</p>
    <div>
        <center>
            <img src="~/images/lancer_evo_x.jpg" width="500" height="370" alt="First slide">
        </center>
    </div>
    
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Car Lists</h2>
        <p>
            There's so used many car that stored in our showroom, if you want to check our car list, click the button bellow.
        </p>
        <p><a class="btn btn-default" href="/Cars/Index">Car Lists &raquo;</a></p>
    </div>
</div>